form > fieldset {
  padding: 1em;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.field {
  border: none;
  display: flex;
  margin: 0 0 1em 0;
  padding: 0;
}

.input-wrapper {
  display: flex;
}

.input-prepend {
  border: 1px solid silver;
  border-right: 0;
  position: relative;
}

.input-append {
  border: 1px solid silver;
  border-left: 0;
}

.no-border {
  border: none;
}

.append-text,
.prepend-text {
  padding: 2px 0.3em;
  line-height: 1.25em
}

input, .input {
  border: 1px solid silver;
  padding: 1px 3px;
  max-width: 320px;
  width: 100%;
}

input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 3px 0 cornflowerblue;
}

input[type="radio"],
input[type="checkbox"]
{
  margin: 0 0.3em 0 0;
  width: 1em;
}

.field-messages,
.input-messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  padding: 0;
  margin: 0;
  color: silver;
  font-family: sans-serif;
  font-size: 0.7em;
  font-style: italic;
  line-height: 1.3em;
}

.has-error > input,
.has-error > .input,
.has-error > fieldset {
  border-color: red;
}

.error,
.has-error > label,
.has-error > fieldset > legend {
  color: crimson;
}

.warning {
  color: darkorange;
}

.form-actions-bar {
  padding: 1em 0 0;
}


@media (max-width:767px) {
  .field > label,
  .field > legend,
  label.field > span {
    min-width: 140px;
  }
}

@media (max-width:580px) {
  .field {
    display: block;
  }
  .field > label,
  .field > legend,
  label.field > span {
    display: block !important;
  }
  .input-group {
    /* flexbox + fieldset hack. */
    clear: left;
  }
}
