.show-if-modified {
  display: none;
}

.modified .show-if-modified {
  display: inline;
}

.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.field > label {
  width: 80px;
  flex-shrink: 0;
}

.field fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0.3em 0 0;
  padding: 0;
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.subfield {
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  width: 150px;
}

.subfield > label {
  display: block;
}

.input, input {
  margin: 0 0.3em 0.15em 0;
  max-width: 265px;
  padding: 1px 3px;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
  margin-top: 0.3em;
}

input[type="number"] {
  width: 40px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper input {
  margin: 0;
}

.input-prepend {
  position: relative;
  left: 1px;
}

.input-append {
  position: relative;
  left: -1px;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.message {
  font-size: 0.8em;
}

.error {
  color: crimson;
}

.info {
  color: grey;
}