.show-if-modified {
  display: none;
  font-size: 0.9em;
  color: royalblue;
}

.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.field > label {
  width: 80px;
  flex-shrink: 0;
}

.field fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0.3em 0 0;
  padding: 0;
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.subfield {
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  width: 150px;
}

.subfield > label {
  display: block;
}

.input, input {
  border: 1px solid silver;
  margin: 0 0.3em 0.15em 0;
  max-width: 320px;
  padding: 1px 3px;
  width: 100%;
}

.input:focus, input:focus {
  box-shadow: 0 0 3px 0 cornflowerblue;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
  margin-top: 0.3em;
}

input[type="number"] {
  width: 49px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper input {
  margin: 0;
}

.append-text,
.prepend-text {
  background: gainsboro;
  display: inline-block;
  border: 1px solid silver;
  line-height: 1em;
  padding: 2px 5px;
  font-size: 0.9em;
}

.prepend-text {
  border-right: 0;
}

.append-text {
  border-left: 0;
}

.message-summary {
  border: 1px dashed pink;
  color: crimson;
  padding: 0.3em 0.55em;
  margin: 0.5em 0;
  line-height: 1.34em;
  font-size: 0.85em;
}

.messages {
  list-style: none;
  /*opacity: 0;*/
  padding: 0;
  margin: 0;
  width: 100%;
}

.message {
  font-size: 0.8em;
}

.error {
  color: crimson;
}

.info {
  color: grey;
}