/* Page Styles Go Here... */

.input-container {
  display: inline-block;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.messages li {
  color: silver;
  display: block;
  font-family: arial,"sans-serif";
  font-size: 0.7em;
  font-style: italic;
  line-height: 1.3em;
}

.messages .danger {
  color: crimson;
}

.messages .warning {
  color: darkorange;
}

.has-error input,
.has-error textarea {
  border-color: red;
}

.has-error label {
  color: crimson;
}
