/* Page Styles Go Here... */

.form-column {
  min-width: 260px;
}

.left-column {
  margin-right: 4%;
  width: 50%
}

.field > label,
label.field > span {
  display: inline-block;
  min-width: 90px;
}

.field > label {
  margin-bottom: 0.15em;
}

.fullname {
  margin-bottom: 0;
}

.fullname .small-text {
  display: block;
  font-size: 0.8em;
}

.fullname .input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fullname .input-zone {
  max-width: 120px;
  margin: 0 3px 1em 0;
}

.birthday select {
  margin-right: 3px;
}

.number input {
  width: 55px;
  text-align: center;
}

.currency{
  max-width: 180px;
}

.currency .prepend-text {
  display: inline-block;
  background: gainsboro;
  font-size: 0.94em;
  line-height: 1em;
}

.email, .memo, .select {
  max-width: 400px;
}

.updown input {
  width: 35px;
  text-align: center;
}

.updown button {
  display: inline-block;
  padding: 0 0.5em 0;
  background: gainsboro;
  cursor: pointer;
}

.date button {
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0 3px;
  margin: 0;
}

.date input {
  width: 130px;
}

.birthday select {
  width: 72px;
  text-align: center;
}

.radiolist .input-group,
.checklist .input-group {
  font-size: 0.9em;
}

.radiolist input {
  margin: 0;
  width: 1.5em;
}

@media (max-width:767px) {
  .form-column {
    margin-right: 0;
    width: 100%;
  }
  .fullname .input-zone {
    max-width: 136px;
  }
}