<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?=$page->title?> - <?=$app->siteName?></title>
    <base href="<?=$request->urlBase?>">
    <meta name="X-CSRF-TOKEN" content="<?=$page->csrfToken?>">
    <link id="favicon" href="favicon.ico" rel="shortcut icon">
    <?=$view->styleLinks()?>
    <?php if ($page->inlineStyle = $view->inlineStyle()) include $page->inlineStyle ?>
  </head>

  <body>

    <noscript>This page will not display correctly without Javascript enabled.</noscript>

    <div id="busy-indicator-overlay">
      <img id="busy-indicator" src="assets/img/loading-md.gif">
    </div>

    <button id="back-to-top"  onclick="window.scrollTo(0,0);">
      <span class="up-icon">^</span>
    </button>

    <div id="page">

      <div id="main-modal" class="modal hidden">
        <div class="modal-inner">
          <header>
            <a class="modal-close" href="#" onclick="F1.modal.dismiss(this, event)">Close X</a>
            <h1>Modal</h1>
          </header>
          <hr>
          <div class="modal-content">
            <p>Modal content goes here...</p>
          </div>
          <hr>
          <footer>
            <p>Modal footer...</p>
          </footer>
        </div>
      </div>

      <header id="site-masthead">
        <div id="site-brand" class="container">
          <img id="site-logo" src="assets/img/happy-logo.png">
          <div id="site-name">
            <h1><?=$app->siteName?> - <?=$page->title?></h1>
            <small><?=$app->siteSlogan?></small>
          </div>
        </div>
        <?php include $view->inlineTemplate($app->cachePath, $app->componentsPath . '/topnav.html', 'topnav.html'); ?>
      </header>

      <section id="page-content">

        <?=$view->alerts()?>

