/* Page Styles Go Here... */

.doc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.doc-column {
  flex: 1 0 260px;
  margin-bottom: 1em;
}

.doc.happy, form.happy > fieldset { border-color: darkseagreen; }
.doc.happy > legend, form.happy > fieldset > legend { color: seagreen; }

.doc.has-error, form.has-error > fieldset { border-color: lightpink; }
.doc.has-error > legend, form.has-error > fieldset > legend { color: crimson; }

.doc.modified > legend .show-if-modified,
form.modified > fieldset > legend .show-if-modified {
  display: inline;
}

.field.has-error > label { color: crimson; }
.field.happy > label { color: seagreen; }

.subfield.has-error > label { color: crimson; }
.subfield.happy > label { color: seagreen; }

.fullname .input-group > .messages {
  align-self: center;
}

.birthday fieldset {
  display: block;
}

.birthday .subfield {
	  display: inline-block;
	  width: 67px;
}

.updown input {
  width: 35px;
  text-align: center;
}

.button { margin: 0.15em 0; }

.currency input { width: 90px; }

@media all and (min-width:900px) {
  .fullname .subfield { width: 130px; }
  .messages { width: auto; }
}