/* Page Styles Go Here... */

.doc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.doc-column {
  flex: 1 0 260px;
  margin-bottom: 1em;
}

.doc.has-error > legend,
form.has-error legend {
	color: crimson;
}

.field.happy { color: seagreen; }

.fullname .input-group > .messages {
  align-self: center;
}

.birthday fieldset {
  display: block;
}

.birthday .subfield {
	  display: inline-block;
	  width: 67px;
}

@media all and (min-width:900px) {
  .fullname .subfield { width: 130px; }
  .messages { width: auto; }
}